.QA-section
{
  display: flex;
  flex-direction: row;
  margin: auto;
  width:80%;
  flex-wrap:wrap;
  
}

.QA-container
{
  width: 50%;
  height: 120px;
}

.QA-answer
{
    font-family: 'Bebas Neue', cursive;

}

.QA-question
{
    font-family: 'Bebas Neue', cursive;

}



.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
