@import 'styles.scss';

.QA
{
  &-section
  {
    display: flex;
    flex-direction: row;
    margin: auto;
    width:80%;
    flex-wrap:wrap;
  }
  
  &-container
  {
    width: 50%;
    height: 170px;
  }
  
  
  &-answer, &-question
  {
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
  }
}


